body{
	background:#eee;
}

header{
	width:100%;
	background:#333;
	height:60px;
	color:#ddd;
	font-size:24px;
	line-height:60px;
}

.title{
	width:1200px;
	margin:0 auto;
}

.title .el-menu-item{
	font-size:18px;
}

.el-table__header-wrapper .el-checkbox__inner{
	display:none;
}

.table-head{
	display:none;
}

.main{
	width:1200px;
	margin:0 auto;
	background:#f6f6f6;
	min-height:600px;
}

.name{
	font-size:24px;
}

.small-info{
	margin-top:10px;
}

.small-info .el-tag{
	margin-right:5px;
}

.small-info .time{
	color:#888;
}

.small-info .used{
	color:#888;
}
.desc{
	font-size:18px;
	color:#555;
	margin-bottom:10px;
}
.box-card{
	margin:10px 0 50px 0;
}