body{
	background:#eee;
}

header{
	width:100%;
	background:#333;
	height:60px;
	color:#ddd;
	font-size:24px;
	line-height:60px;
}

.title{
	width:1200px;
	margin:0 auto;
}

.el-table__header-wrapper .el-checkbox__inner{
	display:none;
}

.table-head{
	display:none;
}

.main{
	width:1200px;
	margin:0 auto;
	min-height:600px;
}

.name{
	font-size:24px;
}

.small-info{
	margin-top:10px;
}

.el-tag{
	margin-right:5px;
}

.time{
	color:#888;
}

.desc{
	font-size:18px;
	color:#555;
	margin-bottom:10px;
}
.box-card{
	margin:10px 0 10px 0;
}

.el-tag + .el-tag {
	margin-left: 10px;
}
.button-new-tag {
	margin-left: 10px;
	height: 32px;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.input-new-tag {
	width: 90px;
	margin-left: 10px;
	vertical-align: bottom;
}
.add-snip{
	margin:13px 0 0 20px;
}
.search{
	width:200px;
	float:left;
	margin:1px 0 0 20px;
	height:36px;
}
.search .el-input__inner{
    height: 36px;
	line-height: 36px;
	border-radius: 18px;
}